* {
  box-sizing: border-box;
  /* transitions related */
  /* transition: 0.35s ease; */

}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 28px;
  background-size: cover;
  margin-top: 0px;
  overflow: hidden;
}

.rela-block {
  /* display: block; */
  position: relative;
  margin: auto;
}

.page {
  width: 90%;
  max-width: 900px;
  height: 730px;
  margin: 30px auto 10px auto;
  background-color: #fff;
  box-shadow: 6px 10px 28px 10px rgba(0,0,0,0.4);
}

/* ???? */
/* .rela-inline {
  display: inline-block;
  position: relative;
  margin: auto;
} */

/* transitions related */
/* .floated {
  display: inline-block;
  position: relative;
  margin: false;
  top: ;
  left: ;
  right: ;
  bottom: ;
  float: left;
} */



/* Knitter Jacob podpis header */
.abs-center {
  display: false;
  position: absolute;
  margin: false;
  top: 50%;
  left: 50%;
  right: false;
  bottom: false;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
}



/* ??? */
/* body:before {
  display: false;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.92);
} */
.caps {
  text-transform: uppercase;
}
.justified {
  text-align: justify;
  padding-left: 5px;
}
p.light {
  color: #777;
  margin: 5px; 
}
h2 {
  font-family: 'Open Sans';
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 600;
  line-height: 40px;
  color: #000;
}

/* Job #1, ...  */
h3 {
  font-family: 'Open Sans';
  font-size: 21px;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 28px;
  color: #000;
}

.top-bar {
  height: 220px;
  background-color: #8ecae6 ;
  color: black;
}
.name {
  display: false;
  position: absolute;
  margin: false;
  top: false;
  left: calc(350px + 5%);
  right: 0;
  bottom: 0;
  height: 200px;
  text-align: center;
  font-family: 'Raleway';
  font-size: 58px;
  letter-spacing: 8px;
  font-weight: 400;
  line-height: 60px;
}
.name div {
  width: 94%;
}

.side-bar {
  position: absolute;
  top: 20px;
  bottom: 10px;
  padding-left: 20px;
  padding-right: 7px;
  margin-left: 20px;
  bottom: 10px;
  padding: 320px 0px 50px;
  width: 360px;
  background-color: #f7e0c1;
}


/* I'm not able to move my svg when it's in default position
If you're not able to move your SVG element when it's in the default position, you may need to set the position property to either relative, absolute, fixed, or sticky. Additionally, you can use the top, right, bottom, and left CSS properties to adjust the position of the element.
Why my svg lands in the same position if it's either in relative or absolute position?
If your SVG element lands in the same position regardless of whether it's in relative or absolute position, it may be because the element is positioned relative to its nearest positioned ancestor or the viewport 
(So basically absolute positioning - an element is positioned relative to its nearest positioned ancestor) if there is no ancestor. You may need to set the position property to either relative, absolute, fixed, or sticky in order to move the element. Additionally, you can use the top, right, bottom, and left CSS properties to adjust the position of the element. */
/* No, position: relative; is not equal to the default (relative) position. The default position is relative to the parent container, while relative positioning means that an element is positioned relative to its normal position. */
.mugshot {
  position: absolute;
  top: 50px;
  left: 70px;
} 

.info {
  left: 5%;
  height: 100%;
  overflow-y: auto; 
  padding: 5px 40px 15px;
  
}

.mugshot .logo {
  margin: -23px;
}
.logo {
  display: false;
  position: absolute;
  margin: false;
  top: 0;
  left: 0;
  right: false;
  bottom: false;
  z-index: 100;
  margin: 0;
  color: #000;
  height: 250px;
  width: 250px;
}
.logo .logo-svg {
  height: 100%;
  width: 100%;
  stroke: #000;
  cursor: pointer;
}
.logo .logo-text {
  display: false;
  position: absolute;
  margin: false;
  top: 58%;
  right: 16%;
  cursor: pointer;
  font-family: "Montserrat";
  font-size: 55px;
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 58.333333333333336px;
}

/* icons related styling */
.social {
  padding-left: 60px;
  margin-bottom: 50px;
}
.social:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 10px;
  height: 35px;
  width: 35px;
  background-size: cover !important;
}

.social.twitter:before {
  background: url("https://cdn3.iconfinder.com/data/icons/social-media-2026/60/Socialmedia_icons_Twitter-07-128.png") center no-repeat;
}

.social.twitter:hover:before {
  background: url("images/twittercolor.png") center no-repeat;
}

.social.linked-in:before {
  background: url("images/linkedin.png") center no-repeat;
}

.social.linked-in:hover:before {
  background: url("images/linkedincolor.png") center no-repeat;
}

.social.github:before {
  background: url("images/git.png") center no-repeat;
}

.social.github:hover:before {
  background: url("images/gitcolor.png") center no-repeat;
  scale: 1.1;
}

/* .flag.england:before {
  background: url("images/england.png") center no-repeat;
  opacity: 0.3;
}

.flag.poland:before {
  background: url("images/poland.png") center no-repeat;
  opacity: 0.3;
} */

/* 
.flag.germany:before {
  background: url("images/poland.png") center no-repeat;
  opacity: 0.3;
}

.flag.netherlands:before {
  background: url("images/poland.png") center no-repeat;
  opacity: 0.3;
} */

.languages img{
  scale: 1.1; 
}

.languages img.active {
  opacity: 1;
  height: 60px;
  width: 60px;
  margin-top: -10px; 
  margin-right: 10px;
}

.languages img:not(.active){
  opacity: 0.6;
  height: 60px;
  width: 60px;
  margin-top: -10px; 
  margin-right: 10px;
}

.job:after {
  content: "";
  position: absolute;
  top: -25px;
  left: 330px;
  height: 35px;
  width: 35px;
  background-size: cover !important;
}

.rela-block.job.accenture:after {
  background: url("images/accenture.png") center no-repeat;
}



/* .a.flag {
  height: 64px;
} */

.side-header {
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 600;
  line-height: 28px;
  margin: 30px auto 10px;
  padding-bottom: 5px;
}

.side-header:after{
  content: "";
  display: block;
  padding-top: 3px;
  width: 60%;
  border-bottom: 1px solid #888;
}
.list-thing {
  padding-left: 5px;
  margin-bottom: 10px;
}
.content-container {
  margin-left: 390px;
  width: calc(95% - 350px);
  padding: 25px 40px 50px;
  overflow-x: hidden;
  height: 69%;
  position: relative;
}

.content-container > * {
  margin: 0 auto 25px;
}
.content-container > h3 {
  margin: 0 auto 5px;
}
.content-container > p.long-margin {
  margin: 0 auto 20px;
  text-align: center;
  font-weight: 500;
}
.title {
  width: 80%;
  text-align: center;
}


.separator {
  width: 120px;
  height: 2px;
  background-color: #999;
}

.greyed {
  background-color: #8ecae6;
  color: white;
  width: 100%;
  max-width: 580px;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 18px;
  letter-spacing: 6px;
  font-weight: 600;
  line-height: 28px;
}
@media screen and (max-width: 1150px) {


  body {
    font-family: 'Open Sans';
    font-size: 22px;
    letter-spacing: 0px;
    font-weight: 400;
    line-height: 28px;
    background-size: cover;
    margin-top: 0px;

  }

  .page{
    height: 1200px;
    margin: 70px auto 10px auto;
  }

  .content-container {
    margin-left: 390px;
    width: calc(95% - 350px);
    padding: 25px 40px 50px;
    overflow-x: hidden;
    height: 75%;
    position: relative;
    padding: 23px 20px 51px; 
  }

  .name {
    color: #fff;
    font-family: 'Raleway';
    font-size: 38px;
    letter-spacing: 6px;
    font-weight: 100;
    line-height: 48px;
  }
}
